body {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#canvas {
  background: white;
  border: 1px solid black;
  position:absolute;
}

#closerColor {
  position: relative;
  top: -300px;
  font-family: arial;
  font-size: 2.5em;
}
